pandas~=2.2.3
matplotlib~=3.9.2
numpy~=1.26.4
pycountry~=24.6.1
scipy~=1.14.1
plotly~=5.24.1
nbformat~=5.10.4
requests~=2.32.5
dotenv~=0.9.9
xarray~=2024.6.0
openpyxl~=3.1.5
kaleido~=0.1.0
setuptools~=80.9.0
pykml~=0.2.0
beautifulsoup4~=4.12.2
selenium~=4.14.0
webdriver-manager~=4.0.0
pymap3d~=3.0.1